@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* O código acima altera a forma com que a altura e largura dos elementos seja calculadas, fazem com que as mesmas incluem os valores de padding e border */

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Banner
/* 5. Area1
/* 6. Area2
/* 7. Area3
/* 8. Area4
/* 9. Area5
/* 10. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
  --font-family--open: "Open Sans", sans-serif;
  --font-family--oswald: "Oswald", sans-serif;
  --clr-117050: #117050;
  --clr-999999: #999999;
  --clr-454545: #454545;
  --clr-fff: #fff;
  --clr-e8e9ee: #e9eaef;
  --clr-333: #333;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

body {
  font-family: var(--font-family--open);
}

.bar {
  background-color: var(--clr-117050);
  width: 168px;
  height: 22px;
}

h1 {
  font-family: var(--font-family--oswald);
  font-weight: bold;
  font-size: 90px;
  line-height: 100px;
  margin: 0;
  padding-bottom: 30px;
}

h2 {
  font-family: var(--font-family--oswald);
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  margin: 20px 0;
}

.button {
  margin-top: 50px;
  display: inline-block;
  border: 2px solid var(--clr-454545);
  padding: 10px 30px;
  border-radius: 3px;
  color: var(--clr-454545);
  text-decoration: none;
}

.button:hover {
  color: var(--clr-fff);
  background-color: var(--clr-454545);
}
/**********************************/
/* 2. Menu
/**********************************/

.container {
  max-width: 1140px;
  margin: auto;
}

/**********************************/
/* 3. Header
/**********************************/

header .line {
  background-color: var(--clr-117050);
  height: 10px;
}

.header--area {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header-left img {
  width: 64px;
  height: 64px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid var(--clr-999999);
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.header--search button {
  border: 0;
  background: transparent;
}

.header--search button img {
  width: 16px;
  height: 16px;
  margin-left: -30px;
  cursor: pointer;
}

.header--menu {
  margin-left: 50px;
}

.header--menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/**********************************/
/* 4. Banner
/**********************************/

.banner {
  background-image: url("assets/image/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}

.banner h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: var(--font-family--oswald);
  line-height: 90px;
  margin: 0;
  margin-bottom: 50px;
}

.banner--images {
  margin-top: 50px;
  padding-bottom: 120px;
}

.banner--images img {
  width: 148px;
  height: 148px;
  border: 6px solid var(--clr-117050);
  border-radius: 50%;
  margin-right: 40px;
}

/**********************************/
/* 5. Area1
/**********************************/

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--content {
  font-family: var(--font-family--oswald);
  padding: 80px;
}

.area1--quote {
  font-family: var(--font-family--open);
  margin-bottom: 30px;
}

.area1-text {
  font-family: var(--font-family--open);
  width: 700px;
  line-height: 25px;
}

.area1--image1 {
  height: 345px;
  background-image: url("f2.jpg");
  background-size: cover;
  background-position: center;
}

.area1--image2 {
  grid-column: 2/3;
  grid-row: 1/3;
  background-image: url("f1.jpg");
  background-size: cover;
  background-position: center;
}

/**********************************/
/* 6. Area2
/**********************************/

.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2--content {
  font-family: var(--font-family--oswald);
  padding: 80px;
  margin-top: 80px;
}

.area2--quote {
  font-family: var(--font-family--open);
  margin-bottom: 30px;
}

.area2-text {
  font-family: var(--font-family--open);
  width: 700px;
  line-height: 25px;
}

.area2--image1 {
  height: 450px;
  background-image: url("f4.jpg");
  background-size: cover;
  background-position: center;
}

.area2--image2 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("f3.jpg");
  background-size: cover;
  background-position: center;
}

/**********************************/
/* 7. Area3
/**********************************/

.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area3--left {
  font-family: var(--font-family--oswald);
  padding: 200px 80px;
  background-image: url("bg2.jpg");
  background-size: cover;
  background-position: left;
}

.area3-text {
  font-family: var(--font-family--open);
  width: 700px;
  margin-bottom: 50px;
  line-height: 25px;
}

.area3--right {
  background-image: url("f5.jpg");
  background-size: cover;
  background-position: center;
}

/**********************************/
/* 8. Area4
/**********************************/

.area4 {
  display: grid;
  grid-template-columns: 600px 1fr;
  background-color: var(--clr-e8e9ee);
}

.area4--left {
  font-family: var(--font-family--oswald);
  padding: 150px 80px;
  background-size: cover;
  background-position: left;
}

.area4--right {
  background-image: url("bg3.jpg");
  background-position: left;
}

/**********************************/
/* 9. Area5
/**********************************/

.area5 {
  background-image: url("bg4.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

/**********************************/
/* 10. Footer
/**********************************/

footer {
  background-color: var(--clr-333);
  color: var(--clr-fff);
  text-align: center;
  padding: 80px;
}
